<!DOCTYPE html>
{% extends 'base.html' %}
{% block tittle %}
About Us
{% endblock %}
{% block bodyblock %}
<div
    style="background: rgb(143,255,206);
background: linear-gradient(63deg, rgba(143,255,206,0.5970763305322129) 0%, rgba(46,245,116,0.6530987394957983) 100%);">
    <div class="flex-col items-center justify-center pb-10 bg-opacity-80">
        <div class="text-center text-[#2f3542] px-6 pt-8">
            <h1 class="text-6xl font-bold opacity-100 mb-5 animate__animated animate__fadeInDown">About Us</h1>
            <p class="text-3xl mx-auto font-normal rounded-box opacity-100 backdrop-blur-md p-5 w-4/5">We are a team of
                dedicated professionals who are passionate<br>about creating innovative solutions for transportation
                systems.
            </p>
        </div>
        <div class="overflow-x-auto w-4/5 mx-auto mt-[2%] px-6 mb-8">
            <table class="table w-full">
                <!-- head -->
                <thead>
                    <tr>
                        <th class="text-[16px]">Email</th>
                        <th class="text-[16px]">Name</th>
                        <th class="text-[16px]">Phone Number</th>
                        <th class="text-[16px]">Github</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row 1 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/57717227?v=4"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">Md. Ohiduzzaman</div>
                                    <div class="text-sm opacity-50">Dhaka City College</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            ohiduzzaman.ove.46@gmail.com
                        </td>
                        <td>01822847536</td>
                        <th>
                            <a href="https://github.com/theove46" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://scontent.fdac5-2.fna.fbcdn.net/v/t1.6435-9/67398341_2332188563714903_1728208588377161728_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeE4buYaHypxwe5s-dlR1cjQ_biWHXwwnED9uJYdfDCcQEH-3U7099CaxZAnu0kguuxuAybf8p01p64Wu-CclfsA&_nc_ohc=EDi5DyFjtsMAX8PGsoK&_nc_ht=scontent.fdac5-2.fna&oh=00_AfDDn0HwpmntANpxNYsdnqZFD6RMXvjM4R60l--frytYPw&oe=641F1FF6"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">Amit Sarker</div>
                                    <div class="text-sm opacity-50">National University</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            amitsarker95@gmail.com
                        </td>
                        <td>01718332515</td>
                        <th>
                            <a href="https://github.com/amitsarker95" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/76910540?v=4"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">Foysal Ahmed</div>
                                    <div class="text-sm opacity-50">Netrakona Govt. College</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            foysalthedesigner@gmail.com
                        </td>
                        <td>01725720666</td>
                        <th>
                            <a href="https://github.com/foysalmia" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>

                    <!-- row 3 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/111233706?v=4"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">MD. Lukman Ahmed</div>
                                    <div class="text-sm opacity-50">Islamic Arabic University</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            lukmanbinharun@gmail.com
                        </td>
                        <td>01751909901</td>
                        <th>
                            <a href="https://github.com/Lukmanbinharun" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>

                    <!-- row 4 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/103201472?v=4"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">Tomal Roy</div>
                                    <div class="text-sm opacity-50">Titumir College</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            roytomal840@gmail.com
                        </td>
                        <td>01641-280398</td>
                        <th>
                            <a href="https://github.com/TomalRoy" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>
                    <!-- row 5 -->
                    <tr>
                        <td>
                            <div class="flex items-center space-x-3">
                                <div class="avatar">
                                    <div class="mask mask-squircle w-12 h-12">
                                        <img src="https://avatars.githubusercontent.com/u/96919509?v=4"
                                            alt="Avatar Tailwind CSS Component" />
                                    </div>
                                </div>
                                <div>
                                    <div class="font-bold">Shakib Hasan Readoy</div>
                                    <div class="text-sm opacity-50">IUBAT University</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            shakib7784@gmail.com
                        </td>
                        <td>01741162765</td>
                        <th>
                            <a href="https://github.com/Shakib7784" target="_blank"
                                class="btn btn-success px-3 py-2 text-white">Git-hub</a>
                        </th>
                    </tr>
                    <!-- row 6 -->
                    

                </tbody>
                <!-- foot -->
            </table>
        </div>
        <div class="m-10">
            
            <div class="flex flex-col items-center justify-center">
                <h1 class="text-center text-3xl mb-8 font-bold">We are Managed by</h1>
                <div
                    class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200  hover:shadow-xl">
                    <img src="https://media.licdn.com/dms/image/D5603AQGp3b4wXD6oGg/profile-displayphoto-shrink_800_800/0/1672992166195?e=1683763200&v=beta&t=a2Qs3yj_IzM4LO43KFk0Z1OJ2Nn9UYwLDix0sOvM0a4"
                        alt="plant" class="h-auto w-full" />
                    <div class="p-5 text-center">
                        <h1 class="text-2xl font-bold">Syeda Tamanna Sheme</h1>
                        <p class="text-medium mb-3 text-gray-700">Job Placement Executive</p>
                        <p class="text-[20px]  text-gray-700">Programming-hero</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
