<!DOCTYPE html>
{% extends 'base.html' %}
{% block tittle %}
Routes
{% endblock %}
{% block bodyblock %}
<!-- component -->

<div class="bg-[#D9FFEE] mx-auto w-full h-full">
    <div>
        <h1 class="py-10  text-5xl font-bold text-center">Dhaka Metro Road Map</h1>
    </div>
    <div class="relative wrap overflow-hidden p-10 h-full">
        <div class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border" style="left: 50%"></div>
        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Uttara Depot</h3>
            </div>
        </div>

        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">2</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Uttara North</h3>
            </div>
        </div>

        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Uttara Center</h3>
            </div>
        </div>
        
        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">4</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Uttara South</h3>
            </div>
        </div>
        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">5</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Pallabi</h3>
            </div>
        </div>
        
        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">6</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Mirpur 11</h3>
            </div>
        </div>
        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">7</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Mirpur 10</h3>
            </div>
        </div>


        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">8</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Kazipara</h3>
            </div>
        </div>

        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">9</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Shewrapara</h3>
            </div>
        </div>

        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">10</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Agargaon</h3>
            </div>
        </div>
        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">11</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Bijoy Sarani</h3>
            </div>
        </div>

        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">12</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Farmgate</h3>
            </div>
        </div>

        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">13</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Karwan Bazar</h3>
            </div>
        </div>

        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">14</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Shahbagh</h3>
            </div>
        </div>
        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">15</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Dhaka University</h3>
            </div>
        </div>

        <!-- left timeline -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto text-white font-semibold text-lg">16</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Secretariat</h3>
            </div>
        </div>

        <!-- right timeline -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-8 h-8 rounded-full">
                <h1 class="mx-auto font-semibold text-lg text-white">17</h1>
            </div>
            <div class="order-1 bg-[#5AE4A8] rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="font-bold text-black p-3 text-5xl">Motijheel</h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}