<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block tittle %}Dashboard{% endblock tittle %}

{% block bodyblock %}
    <div class="py-6 px-60">
        <h1 class="text-4xl"><b>Dashboard</b></h1>
    </div>


    <!-- Box Start Here -->
    <div class="flex py-1 px-60">
        <div class="rounded-lg w-72 h-56 bg-green-100 mr-14">
            <h1 class="text-8xl text-center py-8"><b>10</b></h1>
            <h3 class="text-1xl text-center py-auto"><b>Successfully Completede</b></h3>
        </div>

        <div class="rounded-lg w-72 h-56 bg-green-100 mr-14">
            <h1 class="text-8xl text-center py-8"><b>2</b></h1>
            <h3 class="text-1xl text-center py-auto"><b>Knocking at Door</b></h3>  
        </div>

       <div class="rounded-lg w-72 h-56 bg-green-100">
            <h1 class="text-8xl text-center py-8"><b>2</b></h1>
            <h3 class="text-1xl text-center py-auto"><b>Cancelled</b></h3>  
        </div>
    </div>
    <!-- Box End Here -->

    <!-- Incoming Trips Start Here -->
    <div class="py-6 px-60 text-4xl">
        Incoming Trips
    </div>

    <div class="py-1 px-60">
       <div class="rounded-lg w-11/12 h-24 bg-green-100">
            <div class="flex">
                <h1 class="py-2 px-10 text-xl">From</h1>
                <h1 class="py-2 px-40 text-xl">To</h1>
                <h1 class="py-2 px-12 text-xl">Seats</h1>
                <h1 class="py-2 px-14 text-xl">Departure</h1>
            </div>
            <div class="flex py-0">
                <h1 class=" px-10 mr-28 text-3xl"><b>Pallobi</b></h1>
                <h1 class=" mr-24 text-3xl"><b>Motijheel</b></h1>
                <h1 class=" mr-32 text-3xl"><b>4</b></h1>
                <h1 class=" mr-8 text-3xl"><b>4/2/2023</b></h1>
            </div>
        </div>
    </div>

    <div class="py-6 px-60">
        <div class="rounded-lg w-11/12 h-24 bg-green-100">
             <div class="flex">
                 <h1 class="py-2 px-10 text-xl">From</h1>
                 <h1 class="py-2 px-40 text-xl">To</h1>
                 <h1 class="py-2 px-12 text-xl">Seats</h1>
                 <h1 class="py-2 px-14 text-xl">Departure</h1>
             </div>
             <div class="flex py-0">
                 <h1 class=" px-10 mr-16 text-3xl"><b>Motijheel</b></h1>
                 <h1 class=" mr-12 text-3xl"><b>Bimanbondor</b></h1>
                 <h1 class=" mr-32 text-3xl"><b>1</b></h1>
                 <h1 class=" mr-8 text-3xl"><b>1/2/2023</b></h1>
             </div>
         </div>
     </div>
      <!-- Incoming Trips End Here -->


     <!-- Completed Trips Start Here -->
    <div class="py-6 px-60 text-4xl">
        Completed Trips
    </div>

    <div class="py-1 px-60">
        <div class="rounded-lg w-11/12 h-24 bg-green-100">
             <div class="flex">
                 <h1 class="py-2 px-10 text-xl">From</h1>
                 <h1 class="py-2 px-40 text-xl">To</h1>
                 <h1 class="py-2 px-12 text-xl">Seats</h1>
                 <h1 class="py-2 px-14 text-xl">Departure</h1>
             </div>
             <div class="flex py-0">
                 <h1 class=" px-10 mr-28 text-3xl"><b>Pallobi</b></h1>
                 <h1 class=" mr-24 text-3xl"><b>Motijheel</b></h1>
                 <h1 class=" mr-32 text-3xl"><b>4</b></h1>
                 <h1 class=" mr-8 text-3xl"><b>4/2/2023</b></h1>
             </div>
         </div>
     </div>
 
     <div class="py-6 px-60">
         <div class="rounded-lg w-11/12 h-24 bg-green-100">
              <div class="flex">
                  <h1 class="py-2 px-10 text-xl">From</h1>
                  <h1 class="py-2 px-40 text-xl">To</h1>
                  <h1 class="py-2 px-12 text-xl">Seats</h1>
                  <h1 class="py-2 px-14 text-xl">Departure</h1>
              </div>
              <div class="flex py-0">
                  <h1 class=" px-10 mr-16 text-3xl"><b>Motijheel</b></h1>
                  <h1 class=" mr-12 text-3xl"><b>Bimanbondor</b></h1>
                  <h1 class=" mr-32 text-3xl"><b>1</b></h1>
                  <h1 class=" mr-8 text-3xl"><b>1/2/2023</b></h1>
              </div>
          </div>
      </div>

      <div class="py-1 px-60">
        <div class="rounded-lg w-11/12 h-24 bg-green-100">
             <div class="flex">
                 <h1 class="py-2 px-10 text-xl">From</h1>
                 <h1 class="py-2 px-40 text-xl">To</h1>
                 <h1 class="py-2 px-12 text-xl">Seats</h1>
                 <h1 class="py-2 px-14 text-xl">Departure</h1>
             </div>
             <div class="flex py-0">
                 <h1 class=" px-10 mr-28 text-3xl"><b>Pallobi</b></h1>
                 <h1 class=" mr-24 text-3xl"><b>Motijheel</b></h1>
                 <h1 class=" mr-32 text-3xl"><b>4</b></h1>
                 <h1 class=" mr-8 text-3xl"><b>4/2/2023</b></h1>
             </div>
         </div>
     </div>
 
     <div class="py-6 px-60">
         <div class="rounded-lg w-11/12 h-24 bg-green-100">
              <div class="flex">
                  <h1 class="py-2 px-10 text-xl">From</h1>
                  <h1 class="py-2 px-40 text-xl">To</h1>
                  <h1 class="py-2 px-12 text-xl">Seats</h1>
                  <h1 class="py-2 px-14 text-xl">Departure</h1>
              </div>
              <div class="flex py-0">
                  <h1 class=" px-10 mr-16 text-3xl"><b>Motijheel</b></h1>
                  <h1 class=" mr-12 text-3xl"><b>Bimanbondor</b></h1>
                  <h1 class=" mr-32 text-3xl"><b>1</b></h1>
                  <h1 class=" mr-8 text-3xl"><b>1/2/2023</b></h1>
              </div>
          </div>
      </div>
      <!-- Completed Trips Start Here -->

      

      <!-- Cancelled Trips Start Here -->
    <div class="py-6 px-60 text-4xl">
        Cancelled Trips
    </div>

    <div class="py-1 px-60">
        <div class="rounded-lg w-11/12 h-24 bg-red-300">
             <div class="flex">
                 <h1 class="py-2 px-10 text-xl">From</h1>
                 <h1 class="py-2 px-40 text-xl">To</h1>
                 <h1 class="py-2 px-12 text-xl">Seats</h1>
                 <h1 class="py-2 px-14 text-xl">Departure</h1>
             </div>
             <div class="flex py-0">
                 <h1 class=" px-10 mr-28 text-3xl"><b>Pallobi</b></h1>
                 <h1 class=" mr-24 text-3xl"><b>Motijheel</b></h1>
                 <h1 class=" mr-32 text-3xl"><b>4</b></h1>
                 <h1 class=" mr-8 text-3xl"><b>4/2/2023</b></h1>
             </div>
         </div>
     </div>
 
     <div class="py-6 px-60">
         <div class="rounded-lg w-11/12 h-24 bg-red-300">
              <div class="flex">
                  <h1 class="py-2 px-10 text-xl">From</h1>
                  <h1 class="py-2 px-40 text-xl">To</h1>
                  <h1 class="py-2 px-12 text-xl">Seats</h1>
                  <h1 class="py-2 px-14 text-xl">Departure</h1>
              </div>
              <div class="flex py-0">
                  <h1 class=" px-10 mr-16 text-3xl"><b>Motijheel</b></h1>
                  <h1 class=" mr-12 text-3xl"><b>Bimanbondor</b></h1>
                  <h1 class=" mr-32 text-3xl"><b>1</b></h1>
                  <h1 class=" mr-8 text-3xl"><b>1/2/2023</b></h1>
              </div>
          </div>
      </div>
{% endblock %}